images-temp/
main*
smallpt
include-hide/
!include/rtw_stb_image.h
veach-bidir
FileUtils*
Path*
rapidjson-1.1.0/
rapidjson.tar.gz
images/
!images/car-poll.ppm
!textbook/main.cc
bouncing_spheres
car
cornell_box
rocky_ground
transmissive_sphere
!texture/rocky_ground